<% unless @current_user %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title">Login</h1>
          </div>
          <div class="card-body">
            <%= form_with(url: login_path, method: :post, local: true) do |form| %>
              <% if flash[:alert] %>
                <div class="alert alert-danger" role="alert">
                  <%= flash[:alert] %>
                </div>
              <% end %>

              <div class="form-group">
                <%= form.label :name, class: "form-label" %>
                <%= form.text_field :name, class: 'form-control', placeholder: "Enter your username" %>
              </div><br>

              <div class="form-group">
                <%= form.submit 'Login', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
