<%= form_with(model: @resource, local: true) do |form| %>
  <% if @resource.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">The following errors prohibited this resource from being saved:</h4>

      <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div><br>

  <div class="form-group">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
